.footer {
  display: flex;
  justify-content: end;
  width: 100vw;
  max-width: 100%;
  margin: 3vw 0vw 0vw 0vw;
  box-shadow: 0 0.2vw 1.5vw rgba(0, 0, 0, 0.1);
  padding: 0 5vw;
  background: black;
}

.logo {
  width: 15vw;
}
