.navbar {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 0vw 5vw 0vw 5vw;
  background-color: rgb(251, 255, 216);
}

.logo {
  width: 10rem;
}
